@model Ecommerce.Model.OrderHeader

<table cellpadding="5" cellspacing="0" border="0" width="850" bgcolor="#3a3a3a">
    <tbody>
        <tr>
            <td align="left">
                <table cellpadding="0" cellspacing="0" border="0" width="850" bgcolor="#ffffff">
                    <tbody>
                        <tr>
                            <td align="left">
                                <table cellpadding="15" cellspacing="0" border="0" width="100%">
                                    <tbody>
                                        <tr bgcolor="#efefef">
                                            <td align="left" valign="bottom"><a rel="nofollow" target="_blank" href="#" id="">
                                                <img src="@ViewBag.Image" alt="" id=""></a></td>
                                            <td align="right" valign="bottom" style="color: #000; font-size: 13px; font-family: arial;"><a rel="nofollow" target="_blank" href="#" style="color: #000; font-size: 14px; font-family: arial; text-decoration: none;">FAQ</a> | <a rel="nofollow" target="_blank" href="#" style="color: #000; font-size: 14px; font-family: arial; text-decoration: none;">Contact Us</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table cellpadding="15" cellspacing="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <img src="@ViewBag.Thanks" alt=""></td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#a8a4a3" align="center" style="color: #000000; font-size: 15px; font-weight: bold; font-family: Arial;">Order No: @Model.orderID | <a rel="nofollow" target="_blank" href="#" style="color: #0880bc;">Tracking your order</a> | <a rel="nofollow" target="_blank" href="#" style="color: #0880bc;">Any Questions?</a></td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table cellpadding="15" cellspacing="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="color: #000; font-size: 17px; font-family: arial;">Dear @Model.Name,<br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table width="97%" cellspacing="1" cellpadding="6" style="background: #ddd; margin-left: 15px;">
                                    <tbody>
                                        <tr>
                                            <th align="left" colspan="4" height="30" valign="middle" style="background: #fd4a7d; color: #fff; font-size: 18px; font-weight: normal; font-family: Arial;">
                                                <!--<img src="http://www.sweetfacecosmetics.com/images/siteimages/newsletter/cart.jpg" alt="">-->
                                                Order Information</th>
                                        </tr>
                                        <tr>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: bold; font-family: Arial;">Description</td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: bold; font-family: Arial;">Quantity</td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: bold; font-family: Arial;">Price</td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: bold; font-family: Arial;">Total</td>
                                        </tr>

                                         @foreach (var x in Model.OrderDetail)
                                         {
                                        <tr>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;">@x.ProductName
                                                <br>
                                                Color: @x.Color | Length: @x.Length  </td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;">@x.Quantity</td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;">
                                                @if (Model.CurrencyChoosenByUser == "Dollar")
                                                {   
                        @Html.Raw("$" + x.UnitPrice)                          
                                                }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + x.UnitPrice)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + x.UnitPrice)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + x.UnitPrice)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + x.UnitPrice)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + x.UnitPrice)
                    }

                                            </td>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;">

                                                @if (Model.CurrencyChoosenByUser == "Dollar")
                                                {   
                        @Html.Raw("$" + x.ActualPriceInUserSeletedCurrency)                          
                                                }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + x.ActualPriceInUserSeletedCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + x.ActualPriceInUserSeletedCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + x.ActualPriceInUserSeletedCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + x.ActualPriceInUserSeletedCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + x.ActualPriceInUserSeletedCurrency)
                    }
                                            </td>
                                        </tr>
                                         }




                                    </tbody>
                                </table>

                                <br>
                                <div style="float: right; margin-right: 20px; margin-bottom: 20px; width: 350px;">
                                    <table width="100%" cellspacing="1" cellpadding="8" style="background: #e4dde4;">
                                        <tbody>
                                            <tr>
                                                <td align="right" width="60%" style="font-size: 14px; font-weight: bold; font-family: Arial;">Total Cost of Products:</td>
                                                <td align="left" width="40%" style="font-size: 14px; font-weight: normal; font-family: Arial;">@if (Model.CurrencyChoosenByUser == "Dollar")
                                                                                                                                               {   
                        @Html.Raw("$" + Model.TotalProductCostInUserCurrency)                          
                                                                                                                                               }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + Model.TotalProductCostInUserCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + Model.TotalProductCostInUserCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + Model.TotalProductCostInUserCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + Model.TotalProductCostInUserCurrency)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + Model.TotalProductCostInUserCurrency)
                    }</td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="font-size: 14px; font-weight: bold; font-family: Arial;">Total delivery charges:</td>
                                                <td align="left" style="font-size: 14px; font-weight: normal; font-family: Arial;">@if (Model.CurrencyChoosenByUser == "Dollar")
                                                                                                                                   {   
                        @Html.Raw("$" + Model.DeliveryCharges)                          
                                                                                                                                   }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + Model.DeliveryCharges)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + Model.DeliveryCharges)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + Model.DeliveryCharges)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + Model.DeliveryCharges)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + Model.DeliveryCharges)
                    }</td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="font-size: 14px; font-weight: bold; font-family: Arial;">Total discount on order:</td>
                                                <td align="left" style="font-size: 14px; font-weight: normal; font-family: Arial;">@if (Model.CurrencyChoosenByUser == "Dollar")
                                                                                                                                   {   
                        @Html.Raw("$" + Model.Discount)                          
                                                                                                                                   }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + Model.Discount)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + Model.Discount)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + Model.Discount)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + Model.Discount)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + Model.Discount)
                    }</td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="font-size: 14px; font-weight: bold; font-family: Arial;">Total:</td>
                                                <td align="left" style="font-size: 14px; font-weight: normal; font-family: Arial;">@if (Model.CurrencyChoosenByUser == "Dollar")
                                                                                                                                   {   
                        @Html.Raw("$" + Model.AmountInCurrencyChoosenByuser)                          
                                                                                                                                   }
                    @if (Model.CurrencyChoosenByUser == "Euro")
                    {   
                        @Html.Raw("&euro" + Model.AmountInCurrencyChoosenByuser)
                    }
                    @if (Model.CurrencyChoosenByUser == "Pound")
                    {   
                        @Html.Raw("&pound;" + Model.AmountInCurrencyChoosenByuser)
                    }
                    @if (Model.CurrencyChoosenByUser == "Naira")
                    {   
                        @Html.Raw("&#8358;" + Model.AmountInCurrencyChoosenByuser)
                    }
                    @if (Model.CurrencyChoosenByUser == "Kwanza")
                    {   
                        @Html.Raw("Kz" + Model.AmountInCurrencyChoosenByuser)
                    }
                    @if (Model.CurrencyChoosenByUser == "Cedi")
                    {   
                        @Html.Raw("GH₵" + Model.AmountInCurrencyChoosenByuser)
                    }</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear: both;"></div>
                                </div>

                                <table width="97%" cellspacing="1" cellpadding="6" style="background: #ddd; margin-left: 15px;">
                                    <tbody>
                                        <tr>
                                            <th align="left" height="25" valign="top" style="background: #fd4a7d; color: #fff; font-size: 18px; font-weight: normal; font-family: Arial;">
                                                <!--<img src="http://www.sweetfacecosmetics.com/images/siteimages/newsletter/icon_van.png" alt="">-->
                                                Delivery Information</th>
                                        </tr>
                                        <tr>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;"><strong>Delivery address:</strong><br>
                                                @Model.Name<br />
                                                 @Model.DAddress1<br />
           
            @if (!string.IsNullOrEmpty(Model.DAddress2))
            {
            @Model.DAddress2 <br />
            }

             @Model.DCity <br />
             @Model.DState<br />
             @Model.DCountry -
             @Model.DPostCode <br />
                    <span style="color: #21a5cc;">@Model.ContactNumber
                                                </span>                            
                                                <br>
                                               
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>

                                <table width="97%" cellspacing="1" cellpadding="6" style="background: #ddd; margin-left: 15px;">
                                    <tbody>
                                        <tr>
                                            <th align="left" height="25" valign="top" style="background: #fd4a7d; color: #fff; font-size: 18px; font-weight: normal; font-family: Arial;">
                                                <!--<img src="http://www.sweetfacecosmetics.com/images/siteimages/newsletter/icon_pound.png" alt="">-->
                                                Payment Information</th>
                                        </tr>
                                        <tr>
                                            <td align="left" style="background: #fff; font-size: 14px; font-weight: normal; font-family: Arial;"><strong>Billing address:</strong><br>
                                                <br>
                                                @Model.Name<br />
                                                 @Model.Address1<br />
           
            @if (!string.IsNullOrEmpty(Model.Address2))
            {
            @Model.Address2 <br />
            }

             @Model.City <br />
             @Model.State<br />
             @Model.Country -
             @Model.PostCode
                                                <br />
                    <span style="color: #21a5cc;">@Model.ContactNumber
                                                </span> <br />
                                                 <span style="color: #21a5cc;">@Model.Email
                                                </span> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table cellpadding="15" cellspacing="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="color: #000; font-size: 13px; font-family: arial;">
                                                <strong>Thanks again for your order.</strong><br>
                                                We'll send another email to acknowledge that we are processing your order.<br>
                                                <br>
                                                <strong>Just a reminder</strong><br>
                                                Multiple items may be delivered in more than one parcel and at different times.<br>
                                                <br>
                                                <strong>Got a query about your order?</strong><br>
                                                From tracking your order to making  a return, find out all you need to know about your order by clicking on one of the links below:<br>
                                                <br>
                                                <!--		            <a rel="nofollow" target="_blank" href="https://www.royalmail.com/track-your-item" style="color:#21a5cc;display:inline-block;text-decoration:none;">Track my order</a><a rel="nofollow" <!--ymailto="mailto:customerservice@sweetfacecosmetics.com?Subject=Customer+Service+Email"-->
                                                target="_blank"
                                                <!--href="mailto:customerservice@sweetfacecosmetics.com?Subject=Customer+Service+Email"-->
                                                style="color:#21a5cc;display:inline-block;margin-left:40px;text-decoration:none;">Suggestions</a><a rel="nofollow" target="_blank" href="#" style="color: #21a5cc; display: inline-block; margin-left: 40px; text-decoration: none;">Returns</a><a rel="nofollow" target="_blank" href="#" style="color: #21a5cc; display: inline-block; margin-left: 40px; text-decoration: none;">FAQs</a><br>
                                                -->
            <br>
                                                <br>
                                                <strong>This email is sent automatically, please do not reply.</strong><br>
                                                <br>
                                                This email is not an order confirmation or order acceptance by us. Unless we have notified you that we do not accept your order or you have cancelled it, order acceptance and the creation of the conrtact between you and us will take place at the point the goods you have ordered are despatched from our warehouse to be delivered to the address you have given us.<br>
                                                <br>
                                                By submitting your order you have accepted our <a rel="nofollow" target="_blank" href="#" style="color: #21a5cc; text-decoration: none;">Terms and Conditions.</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table cellpadding="15" cellspacing="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="color: #000; font-size: 13px; font-family: arial;">SweetFace Cosmetics Ltd.<br>
                                                Registered Office: 7 Beacon Hill, London N7 9LY, UK. Email: customerservice@sweetfacecosmetics.com
                                                <!--<a rel="nofollow" ymailto="mailto:customerservice@sweetfacecosmetics.com" target="_blank" href="mailto:customerservice@sweetfacecosmetics.com">customerservice@sweetfacecosmetics.com</a>-->
                                                <br>
                                                Registered in England: 08852003 VAT no. 180 3012 53
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table cellpadding="15" cellspacing="0" border="0" width="100%" bgcolor="#3a3a3a">
                                    <tbody>
                                        <tr>
                                            <td align="left" width="85%" style="color: #eee; font-size: 13px; font-family: arial;">We hope you find your shopping experience with   SweetFace Cosmetics straight forward but just in case you have any questions or need assistance you can contact us anytime on <a rel="nofollow" ymailto="mailto:customerservice@sweetfacecosmetics.com" target="_blank" href="mailto:customerservice@sweetfacecosmetics.com" style="color: #fff;">customerservice@sweetfacecosmetics.com</a> and we will get back to you within 24 hours.</td>
                                            <td align="right" width="20%" style="color: #eee; font-size: 13px; font-family: arial; border-left: 5px solid #f00; color: #ffffff;">
                                                <strong>Follow us:</strong><br>
                                                <a rel="nofollow" target="_blank" href="#">
                                                    <img src="http://testing.issoftwaresolution.in/img/facebook.png" alt=""></a>
                                                &nbsp;
                    <a rel="nofollow" target="_blank" href="#">
                        <img src="http://testing.issoftwaresolution.in/img/pinterest.jpg" alt=""></a>
                                                &nbsp;
                    <a rel="nofollow" target="_blank" href="#">
                        <img src="http://testing.issoftwaresolution.in/img/twitter.png" alt=""></a>



                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
