<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecom</title>
    <link href="../../FrontEndContent/Css/jquery-ui.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/css/font-awesome.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/config.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/owl.carousel.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/owl.theme.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/owl.transitions.css" rel="stylesheet" />
    <link href="/FrontEndContent/Css/style.css" rel="stylesheet" />

</head>
<body>
    <header id="header">
        <!-- ========== TOP BAR START ========== -->

        <div id="top-bar">
            <div class="container">

                <nav id="language-selector" style="width: 265px;">
                    <ul class="nav nav-pills">
                        @if (Session["currency"].ToString() == "Dollar")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/USA.png" />&nbsp;Dollar 
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Euro">
                                        <img src="/img/Euro.png" />&nbsp;Euro</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Pound">
                                        <img src="/img/UK.png" />&nbsp;GBP</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Naira">
                                        <img src="/img/Nigeria.png" />&nbsp;Naira </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Kwanza">
                                        <img src="/img/Angola.png" />&nbsp;Kwanza </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Cedi">
                                        <img src="/img/Ghana.png" />&nbsp;Cedi</a></li>
                                </ul>
                            </li>
                        }
                        @if (Session["currency"].ToString() == "Euro")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/Euro.png" />&nbsp;Euro
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Dollar">
                                        <img src="/img/USA.png" />&nbsp;Dollar</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Pound">
                                        <img src="/img/UK.png" />&nbsp;GBP</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Naira">
                                        <img src="/img/Nigeria.png" />&nbsp;Naira </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Kwanza">
                                        <img src="/img/Angola.png" />&nbsp;Kwanza </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Cedi">
                                        <img src="/img/Ghana.png" />&nbsp;Cedi </a></li>
                                </ul>
                            </li>
                        }

                        @if (Session["currency"].ToString() == "Pound")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/UK.png" />&nbsp;GBP
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Dollar">
                                        <img src="/img/USA.png" />&nbsp;Dollar</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Euro">
                                        <img src="/img/Euro.png" />&nbsp;Euro</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Naira">
                                        <img src="/img/Nigeria.png" />&nbsp;Naira </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Kwanza">
                                        <img src="/img/Angola.png" />&nbsp;Kwanza </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Cedi">
                                        <img src="/img/Ghana.png" />&nbsp;Cedi</a></li>
                                </ul>
                            </li>
                        }

                        @if (Session["currency"].ToString() == "Naira")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/Nigeria.png" />&nbsp;Naira
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Dollar">
                                        <img src="/img/USA.png" />&nbsp;Dollar</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Euro">
                                        <img src="/img/Euro.png" />&nbsp;Euro</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Pound">
                                        <img src="/img/UK.png" />&nbsp;GBP </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Kwanza">
                                        <img src="/img/Angola.png" />&nbsp;Kwanza </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Cedi">
                                        <img src="/img/Ghana.png" />&nbsp;Cedi </a></li>
                                </ul>
                            </li>
                        }

                        @if (Session["currency"].ToString() == "Kwanza")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/Angola.png" />&nbsp;Kwanza
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Dollar">
                                        <img src="/img/USA.png" />&nbsp;Dollar</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Euro">
                                        <img src="/img/Euro.png" />&nbsp;Euro</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Pound">
                                        <img src="/img/UK.png" />&nbsp;GBP </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Naira">
                                        <img src="/img/Nigeria.png" />&nbsp;Naira </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Cedi">
                                        <img src="/img/Ghana.png" />&nbsp;Cedi</a></li>
                                </ul>
                            </li>
                        }

                        @if (Session["currency"].ToString() == "Cedi")
                        {   
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/Ghana.png" />&nbsp;Cedi 
                                <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/Landing/ChangeCurrency/Dollar">
                                        <img src="/img/USA.png" />&nbsp;Dollar</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Euro">
                                        <img src="/img/Euro.png" />&nbsp;Euro</a></li>
                                    <li><a href="/Landing/ChangeCurrency/Pound">
                                        <img src="/img/UK.png" />&nbsp;GBP </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Naira">
                                        <img src="/img/Nigeria.png" />&nbsp;Naira </a></li>
                                    <li><a href="/Landing/ChangeCurrency/Kwanza">
                                        <img src="/img/Angola.png" />&nbsp;Kwanza </a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                      @using (Html.BeginForm("Search", "Landing"))
                        {
                    <table style="float:right;margin-top: -20px;">
                        <tr>
                            <td><input class="dropdown" type="text" name="id" placeholder="Search" style="width:140px;"/></td>
                            <td><input type="submit" value="GO" class="btn btn-primary btn-sm"/></td>
                        </tr>
                    </table>
                      }
                    
                </nav>

                <nav id="shopping-cart" style="cursor: pointer;" class="shopping-cartBucket" onclick="Getcart();">
                    <div style="color: black!important;">
                        <i class="fa fa-shopping-cart fa-lg"></i>Cart
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-inverse" id="cartItem">
                                @if (Session["Cart"] == null)
                                {
                                    @Html.Raw("0")
                                }
                                else
                                {
                                    Ecommerce.Model.CartModel obj = (Ecommerce.Model.CartModel)Session["Cart"];
                                    if (obj.Product != null)
                                    { 
                                    @Html.Raw(obj.Product.Count().ToString())
                                    }
                                    else
                                    {
                                    @Html.Raw("0")
                                    }
                                }
                            </i>
                            <div id="jPanelMenu-menu" class="panel-left">
                            </div>
                        </span>
                    </div>

                   
                </nav>

                <nav id="top-nav" role="navigation" class="navbar">
                    <div class="navbar-header">
                        <button data-target=".top-nav" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse top-nav">
                        <ul class="nav navbar-nav">

                            <li>

                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <img src="/img/van.png" />&nbsp;</td>
                                        <td>

                                            <p style="margin-bottom: 0px; height: 15px;"><strong style="color: blue; font-size: 15px;">FREE DELIVERY </strong></p>
                                            <p style="margin-bottom: 0px; padding: 0px"><span style="color: black;">ON ORDERS ABOVE @Html.Action("GetFreeDeleveryCharges", "FrontBase")</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>

                                </table>

                            </li>
                             
                            <li><a href="#">About</a></li>

                            <li><a href="#">Contact</a></li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <a href="contact.html">Order History</a>
                                </li>
                            }
                            @Html.Action("GetSignup", "FrontBase")

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>

            </div>
        </div>
        <!-- / #top-bar -->
        <!-- ========== TOP BAR START ========== -->
        <!-- ========== MENU START ========== -->

        <nav id="main-nav">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Landing/Index">
                            <img src="/img/logo.png" alt="Garbini" class="img-responsive"></a>

                        
                    </div>
                    
                    @Html.Action("MainMenu", "Share")
                </div>
            </div>
        </nav>

    </header>

    <!-- ========== MENU END ========== -->

    <!-- ========== SLIDER START ========== -->
    @if (ViewBag.Hompage == "true")
    {
        <section id="slider">
            <div id="bs-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#">
                            <img style="width: 1200px; height: 350px;" src="/img/Bannar1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img style="width: 1200px; height: 350px;" src="/img/Bannar2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img style="width: 1600px; height: 350px;" src="/img/Bannar3.jpg" alt=""></a>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#bs-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    <!--span class="glyphicon glyphicon-chevron-left"></span-->
                </a>
                <a class="right carousel-control" href="#bs-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    <!--span class="glyphicon glyphicon-chevron-right"></span-->
                </a>
            </div>
        </section>
    }
    else
    {
        <div class="container" style="height: 0px;">
            @Html.Raw(ViewBag.breadcrums)

        </div>
    }
    <!-- ========== SLIDER END ========== -->
    <!-- ========== Contant start ========== -->
    @RenderBody()
    <!-- ========== Contant end ========== -->
    <!-- ========== FOOTER START ========== -->
    <!-- ========== FOOTER START ========== -->

    <footer id="footer">


        <div id="copyright">
            <div class="container">&copy; Copyright Ecommerce Site | All Rights Reserved | Designed and developed by <a target="_blank" href="http://www.issoftwaresolution.com/">IS-Software solution</a></div>
        </div>

    </footer>

    <!-- ========== FOOTER END ========== -->


    <div id="ReturnPolicy" title="Return Policy">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    @Html.Action("ReturnPolicy", "FrontBase")
                </div>
            </div>
        </div>
    </div>


    <div id="ForgetPassworddialog" title="Forgot password">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="form-group">
                    @Html.Partial("/Views/Shared/ForgetPassword.cshtml")
                </div>
            </div>
        </div>
    </div>


    <div id="registerUserdialog" title="Registration">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    @Html.Partial("/Views/Shared/RegistrationForm.cshtml", new Ecommerce.Model.LoginModel())
                </div>
            </div>
        </div>
    </div>


    <div id="page_loader">
        &nbsp;

    </div>
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script src="/FrontEndContent/JavaScript/bootstrap.min.js"></script>
    <script src="/FrontEndContent/JavaScript/main.js"></script>
    <script src="/FrontEndContent/JavaScript/owl.carousel.min.js"></script>
    <script src="../../Scripts/jquery.validate.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="../../Scripts/jquery-ui-1.8.24.js"></script>
</body>

</html>

<script type="text/javascript">
    $(function () {
        $("#ForgetPassworddialog").dialog({ autoOpen: false, width: 400 });
        $("#registerUserdialog").dialog({ autoOpen: false, width: 375 });
        $('#ReturnPolicy').dialog({ autoOpen: false, width: 400 })
    });

    var timer = 5000;
    var check = false;
    $(document).ready(function () {
        $("#jPanelMenu-menu").mouseover(function (e) {
            check = true;
            clearTimeout(timer);
        });
        $("#jPanelMenu-menu").mouseout(function (e) {
            check = false;
            timer = setTimeout(HideInfo, 5000);
        });
        $('#ui-dialog-title-ForgetPassworddialog').next().html("<img style='vertical-align:initial!important' src='/img/close.png'/>");
        $('#ui-dialog-title-registerUserdialog').next().html("<img style='vertical-align:initial!important' src='/img/close.png'/>");
        $('#ui-dialog-title-ReturnPolicy').next().html("<img style='vertical-align:initial!important' src='/img/close.png'/>");

        
    });



    function ShowForGotPassword() {
        $("#ForgetPassworddialog").dialog("open");
    }

    function ShowRegisterUser() {
        $("#registerUserdialog").dialog("open");
    }

    function getcolordropdown(Obj, e) {
        var dropdownvaluelist = "";
        var color = 0;
        var productId = e;
        var lengthId = $(Obj).val();
        $.ajax({
            "url": "/Landing/GetColorDropdown?productId=" + productId + "&lengthId=" + lengthId,
            "async": false,
            "dataType": "json",
            "success": function (json) {
                color = json[0].id;
                if (json) {
                    for (var x = 0; x < json.length; x++) {
                        dropdownvaluelist = dropdownvaluelist + "<option value='" + json[x].id + "'>" + json[x].name + "</option>"
                    }
                    $("#Color-" + e).html(dropdownvaluelist);
                    GetPrice(color, productId, lengthId);
                }
            }
        });
    }

    function GetPrice(color, productId, lengthId) {

        $.ajax({
            "url": "/Landing/GetPrice?productId=" + productId + "&lengthId=" + lengthId + "&colorId=" + color,
            "async": false,
            "dataType": "json",
            "success": function (json) {
                if (!json) {
                    alert("You cannot order this combination");
                }
                else {
                    $("#ActualPrice-" + productId).html(json.Actualprice);
                    $("#OurPrice-" + productId).html(json.Ourprice);
                    $("#currentSeleted-" + productId).val(json.Id);

                }
            }
        });
        //send the value to the controller get price according to currency and save the Product Price Id in the Hidden feild 

    }

    function oncolorddChange(obj, e) {
        var productId = e;
        var colorId = $(obj).val();
        var lengthId = $("#Lengthdd-" + e).val();
        GetPrice(colorId, productId, lengthId)
    }


    function AddToCart(e) {
        $('#page_loader').show();
        var selectedProductPriceId = $("#currentSeleted-" + e).val();
        var Quantity = $("#Quantity-" + e).val();
        if (Quantity == 0) {
            alert("Please select Quantity");
            $('#page_loader').hide();
            return;
        }
        $.ajaxSetup({ async: false });
        $.post("/Cart/AddToCart/" + selectedProductPriceId + "?Quantity=" + Quantity, function (partial) {
            $('#jPanelMenu-menu').html(partial);
            $("#shopping-cart").trigger("click");
            var itemcount = $("#ItemCount").val();
            $("#cartItem").html(itemcount);
            $('#jPanelMenu-menu').show();
            //setTimeout(HideInfo, 5000);
            $("html, body").animate({ scrollTop: 0 }, 600);
        });
        $('#page_loader').hide();

    }

    function Getcart() {
        $('#page_loader').show();
        $.ajaxSetup({ async: false });
        $.post("/Cart/MiniIndex", function (partial) {
            $('#jPanelMenu-menu').html(partial);
            var itemcount = $("#ItemCount").val();
            $("#cartItem").html(itemcount);
            $('#jPanelMenu-menu').show();
            setTimeout(HideInfo, 5000);
        });
        $('#page_loader').hide();
    }


    function DeleteItemFromCart(countid) {
        $('#page_loader').show();
        $.ajaxSetup({ async: false });
        $.post("/Cart/Delete?countid=" + countid, function (partial) {
            $('#jPanelMenu-menu').html(partial);
            var itemcount = $("#ItemCount").val();
            $("#cartItem").html(itemcount);
            $('#jPanelMenu-menu').show();
            setTimeout(HideInfo, 5000);
            $("html, body").animate({ scrollTop: 0 }, 600);
        });
        $('#page_loader').hide();
    }





    function HideInfo() {
        if (!check) {
            $("#jPanelMenu-menu").hide();
        }
    }

    if ($().owlCarousel) {
        if ($(".image-carousel").length) {
            $(".image-carousel").owlCarousel({
                items: 1,
                itemsCustom: false,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [980, 1],
                itemsTablet: [768, 1],
                itemsTabletSmall: false,
                itemsMobile: [479, 1],
                autoPlay: true,
                stopOnHover: true,
                pagination: true
            });
        }
    }

    function showReturnPolicy() {
        $("#ReturnPolicy").dialog("open");
    }
</script>
