@model List<Ecommerce.Model.DeliveryModel>
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
    bool check = true;
}

<div class="row">
    <div class="col-lg-12">
        @if (TempData["message"] != null)
        {
            <div class="panel panel-info" id="infoPannal">
                <div class="panel-heading">
                    Info
                </div>
                <div class="panel-body">
                    @Html.Raw(TempData["message"].ToString())
                </div>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Delivery Info
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "Delivery"))
                {
                    <div class="row">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].Default)
                            {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Add Default Delivery Charges
                                </div>
                                <div class="panel-body">
                                                  Delivery Days: @Html.TextBoxFor(m => Model[i].DeliveryDays, new {style="width:100px" })

                                    <table>
                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                            <td style="width:70px;">Dollar
                                            </td>
                                            <td  style="width:70px;">Pound
                                            </td>
                                            <td  style="width:70px;">Euro
                                            </td>
                                            <td  style="width:70px;">Naira
                                            </td>
                                            <td  style="width:70px;">Kwanza
                                            </td>
                                            <td  style="width:70px;">Cedi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Free Delivery
                                                on Shoping of
                                            </td>
                                            <td >
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountDoller, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountPound, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountEuro, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountNigria, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountAngola, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].freeDeliveryAmountGhana, new {style="width:50px" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Delivery Charges<br />
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryDoller, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryPound, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryEuro, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryNigria, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryAngola, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryGhana, new {style="width:50px" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @Html.HiddenFor(m => Model[i].Active)
                            @Html.HiddenFor(m => Model[i].Default)
                             @Html.HiddenFor(m => Model[i].id)
                            }
                            else
                            {
                                 @Html.HiddenFor(m => Model[i].id)
                            if(check)
                            {
                            <h3 style="margin-left:10px;">Other Delivery Charges</h3>
                                check = false;    
                        } 
                               <div class="panel-body">

                                    <table>
                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                            <td  style="width:130px;">Delivery Days
                                            </td>
                                            <td  style="width:70px;">Dollar
                                            </td>
                                            <td  style="width:70px;">Pound
                                            </td>
                                            <td  style="width:70px;">Euro
                                            </td>
                                            <td  style="width:70px;">Naira
                                            </td>
                                            <td  style="width:70px;">Kwanza
                                            </td>
                                            <td  style="width:70px;">Cedi
                                            </td>
                                             <td  style="width:70px;"   >Active
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td> @Html.TextBoxFor(m => Model[i].DeliveryDays, new {style="width:100px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryDoller, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryPound, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryEuro, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryNigria, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryAngola, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].deliveryGhana, new {style="width:50px" })
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(m => Model[i].Active)
                                            </td>

                                            
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountDoller)
                                           
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountPound)
                                           
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountEuro)
                                            
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountNigria)
                                           
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountAngola)
                                            
                                                @Html.HiddenFor(m => Model[i].freeDeliveryAmountGhana)
                                           
                                        </tr>
                                    </table>
                                </div>
                          
                            }
                        }


                    </div>
                   
                    <input type="submit" value="Save" class="btn btn-primary fright"/>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(HideInfo, 3500);
    });
    function HideInfo() {
        $("#infoPannal").hide();
    }
</script>

